/* css styles */

:root {
    --bs-primary: #331079;
    --bs-primary-rgb: 51, 16, 121;
    --bs-root-font-size: 16px;
    --bs-body-font-size: 1rem;
}

h1, .h1 {
    font-size: 2rem;
}

h2, .h2 {
    font-size: 1.5rem;
    border-bottom: 0;
    padding-bottom: 0;
}

h3, .h3 {
    font-size: 1.25rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    text-transform: capitalize;
}

hr {
    color: #331079;
    background-color: #331079;
    opacity: .75;
}

.sidebar nav[role=doc-toc]>h2, .sidebar nav[role=doc-toc]>.h2 {
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: .5rem;
    margin-top: .3rem;
    font-family: inherit;
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0px;
}

.navbar-dark {
    background-color: #331079;
}

blockquote {
        border-left: 5px solid #331079;
        border-top: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        border-radius: .25rem;
        font-size: .9rem;
        font-style: italic;
        font-weight: 400;
}

div.callout-scripture.callout {
    border-left-color: #331079;
}

div.callout-scripture.callout-style-default>.callout-header {
    background-color: #e4dfed;
}

 div.callout-word-study.callout {
    border-left-color: #007656;
}

div.callout-word-study.callout-style-default>.callout-header {
    background-color: #ddede9;
}

div.callout-yellow.callout {
    border-left-color: #e5c704;
}

div.callout-yellow.callout-style-default>.callout-header {
    background-color: #fbf8dd;
}

div.callout-prayer.callout {
    border-left-color: #301ed8;
}

div.callout-prayer.callout-style-default>.callout-header {
    background-color: #e4e1fa;
}

div.callout-question.callout {
    border-left-color: #d40088;
}

div.callout-question.callout-style-default>.callout-header {
    background-color: #f9ddef;
}

