@use "./base.scss";

// put your custom CSS here!

body,
section {
  font-size: 1.25em;
}

.tag-links, .internal-alias {
  color: orchid;
}

#toc-content>h3,
.backlinks>h3,
.recent-notes>h3,
.section h3 {
	font-size: 1rem;
}

#toc-content ul> li,
#toc-content ul> li>a.in-view,
.backlinks > ul,
ul.overflow>li:last-of-type,
.recent-notes > ul.recent-ul,
.recent-notes > ul.recent-ul>li {
	font-size: .90em;
}

#explorer-content {
	font-size: .85em;
}

hr {
  height: 3px;
  background-color: orchid;
}
